<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.demo.domain.mapper.MHouseholdMapper">
 
 	<!-- マッピング定義(M_HOUSEHOLD) -->
 	<resultMap id="BaseResultMap" type="com.example.demo.domain.entity.MHousehold">
 		<id column="household_id" property="householdId" jdbcType="INTEGER" />
 		<result column="user_id" property="userId" jdbcType="INTEGER" />
 		<result column="category_id" property="categoryId" jdbcType="INTEGER" />
 		<result column="deposit" property="deposit" jdbcType="INTEGER" />
 		<result column="payment" property="payment" jdbcType="INTEGER" />
 		<result column="note" property="note" jdbcType="VARCHAR" />
 		<result column="active_date" property="avtiveDate" jdbcType="DATE" />
 		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
 		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
 		<result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP" />
 	</resultMap>
 	
 	<sql id="BaseColumnList">
 		household_id, user_id, expense, deposit,
 		payment, note, create_date, update_date, delete_date
 	</sql>
 	
 	<!-- 家計簿登録 -->
 	<insert id="insertMHousehold">
 		insert
    		into
        		M_HOUSEHOLD(
            		household_id,
            		user_id,
            		category_id,
            		deposit,
            		payment,
            		note,
            		active_date,
            		create_date,
            		update_date,
            		delete_date
        		)
			values
        		(
            		#{householdId, jdbcType=INTEGER},
            		#{userId, jdbcType=INTEGER},
            		#{categoryId, jdbcType=INTEGER},
            		#{deposit, jdbcType=INTEGER},
            		#{payment, jdbcType=INTEGER},
            		#{note, jdbcType=VARCHAR},
            		#{activeDate, jdbcType=DATE},
            		#{createDate, jdbcType=TIMESTAMP},
            		#{updateDate, jdbcType=TIMESTAMP},
            		#{deleteDate, jdbcType=TIMESTAMP}
        		)
 	</insert>
 	
 </mapper>