<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="householdFooter">
		<div class="footer-contents-container">
			<div class="footer-contents-wrapper">
				<nav>
					<p>サービスについて</p>
					<ul>
						<li><a href="#">運営会社</a></li>
						<li><a href="#">公式Twitter</a></li>
						<li><a href="#">公式note</a></li>
					</ul>
				</nav>
				<nav>
					<p>サポート</p>
					<ul>
						<li><a href="#">ヘルプ・サポート</a></li>
						<li><a href="#">お問合せ</a></li>
					</ul>
				</nav>
				<nav>
					<p>規約</p>
					<ul>
						<li><a href="#">利用規約</a></li>
						<li><a href="#">個人情報保護方針</a></li>
						<li><a href="#">情報セキュリティ基本方針</a></li>
						<li><a href="#">特定商取引法に基づく表記</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer-logo">
				<h4>House Hold App</h4>
			</div>
			<p class="copyright">© House Hold, Inc.</p>
		</div>
	</footer>
</body>
</html>