<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="signup footer" th:fragment="userFooter">
		<div class="signup footer-wrapper">
			<div class="signup footer-content">
				<a href="#">
					<h3>House Hold App</h3>
				</a>
				<ul class="links">
					<li><a href="#" class="linker">利用規約</a></li>
					<li><a href="#" class="linker">個人情報保護方針</a></li>
					<li><a href="#" class="linker">お問合せ</a></li>
				</ul>
				<div class="copyright">
					<small>© House Hold App</small>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>