<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/user/sign.css}">
</head>
<body onLoad="document.guestForm.submit();">
	<main class="login main">
		<div class="login wrapper">
			<div th:replace="~{layout/userHeader::userHeader}"></div>
			<div class="login content-wrapper">
				<div class="login content">
					<div class="login main-content">
						<h1>メールアドレスでログイン</h1>
						<p>
							サービルのご利用には、<br>ユーザー登録が必要です
						</p>
						<div class="login form-content">
							<div class="login block-inner">
								<form th:action="@{/login}" method="post" name="guestForm">
									<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
										th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
										class="text-danger"></p>
									<div class="login field">
										<div class="login field-label">
											<label class="login label-name" for="email">メールアドレス</label>
										</div>
										<div class="login field-input">
											<input class="login input-item" type="email"
												autofocus="autofocus" name="email"
												value="test@co.com" readonly>
										</div>
										<div class="login field-label">
											<label class="login label-name" for="password">パスワード</label>
										</div>
										<div class="login field-input">
											<input class="login input-item" type="password"
												name="password" value="password" readonly>
										</div>
										<div class="login field-check">
											<input type="checkbox" name="remember-me" id="remember-me" value="on" checked>
											<span>Remember me</span>
										</div>
										<div class="login button-wrapper">
											<input class="login submit-btn" type="submit" name="commit"
												value="ログインする">
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="login start-wrapper">
							<a class="login start-link" th:href="@{/signup}">アカウントをお持ちでない方はこちら</a>
						</div>
						<div class="login more-option-wrapper">
							<a href="#">お困りの方はこちら</a>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="~{layout/userFooter::userFooter}"></div>
		</div>
	</main>
</body>
</html>