<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HouseHold</title>
<!-- bootstarpのcss読み込み -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- css読み込み -->
<link rel="stylesheet" th:href="@{/css/household/household.css}">
<!-- bootstrapのjs読み込み -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<!-- fontawesome読み込み -->
<script th:src="@{https://kit.fontawesome.com/7109a52a62.js}"></script>
<!-- JavaScrpt読み込み -->
<script th:src="@{/js/household/index.js}"></script>
<script th:src="@{/js/household/calendarDetail.js}"></script>
<script th:src="@{/js/household/householdDetail.js}"></script>
<script th:src="@{/js/household/modalAndTab.js}"></script>
<script th:src="@{/js/household/categoryDetail.js}"></script>
<script th:src="@{/js/household/categoryDetailSec.js}"></script>
<script th:src="@{/js/household/decimal.js}"></script>
</head>
<body id="detail-body">
	<div class="wrapper" id="wrap">
		<!-- モーダルウィンドウセクション -->
		<div th:replace="~{/layout/modal::modal}"></div>
		<header class="header">
			<!-- メインヘッダー呼び出し -->
			<div th:replace="~{layout/householdHeader::householdHeader}"></div>
			<!-- ヘッダーメニューバー -->
			<div class="global-menu">
				<ul class="nav-horizontal">
					<li class="global-menu-item"><a class="unactive"
						th:href="@{/household/index}"> <i
							class="unactive-icon fas fa-home"></i>ホーム
					</a></li>
					<li class="global-menu-item"><a class="active"
						th:href="@{/household/detail}"> <i
							class="active-icon fas fa-chart-pie"></i>家計
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-chart-bar"></i>予算
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-coins"></i>資産
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-cog"></i>設定
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-ellipsis-h"></i>
					</a></li>
				</ul>
			</div>
			<div class="pfm-subnav">
				<!-- ヘッダーサブメニューバー -->
				<ul class="subnav-horizontal">
					<li class="subnav-item"><a class="subnav-unactive"
						th:href="@{/household/detail}">家計簿</a></li>
					<li class="subnav-item"><a class="subnav-active"
						th:href="@{/household/detail/chart}">収支内訳</a></li>
				</ul>
			</div>
		</header>
		<div class="container-large">
			<div class="main-container">
				<section id="summary-info">
					<div class="pull-right">
						<!-- 月次収支検索ボックス -->
						<form id="monthly-form" method="post" th:object="${form}"
							th:action="@{/household/detail/chart/search}">
							<input type="hidden" th:field="*{startDate}"> <input
								type="hidden" th:field="*{endDate}"> <select
								class="search-year-filter">
								<option
									th:text="${#calendars.format(#calendars.createNow(), 'yyyy年')}"
									th:value="${#calendars.format(#calendars.createNow(), 'yyyy')}"></option>
								<option th:each="i : ${#numbers.sequence(2018, 2027)}"
									th:value="${i}" th:text="${i} + '年'"></option>
							</select> <select class="search-month-filter">
								<option
									th:text="${#calendars.format(#calendars.createNow(), 'M月')}"
									th:value="${#calendars.format(#calendars.createNow(), 'M')}"></option>
								<option th:each="i : ${#numbers.sequence(1, 12)}"
									th:value="${i}" th:text="${i} + '月'"></option>
							</select>
							<button id="search-date-btn" type="submit">検索する</button>
						</form>
					</div>
					<div id="draw-date-range" class="date-range"></div>
					<div th:replace="~{layout/monthlyTotal::monthlyTotalTable}"></div>
				</section>
				<section id="cache-flow">
					<h1 class="heading-normal">支出</h1>
					<p style="margin-left: 5px;">
						月々の支出内訳をご覧いただけます。 <br> 他の月をご覧になりたい場合は、上部にある検索欄で選択してください。 <br>
						<a th:href="@{/household/edit}">家計簿の編集</a> で、計算対象の変更が行えます。
					</p>
					<div class="heading-radius-box" th:if="${monthlyHouseholdCalculated != null}"
						th:text="'合計 : ' + ${#numbers.formatInteger(monthlyHouseholdCalculated, 3, 'COMMA')} + '円'"></div>
					<div class="heading-radius-box" th:if="${monthlyHouseholdCalculated == null}">0円</div>
					<button class="cf-new-btn"
						style="padding: 5px 20px; width: 140px; margin-left: 10px;">
						<i class="fas fa-pen"></i>手入力
					</button>
					<div class="cashflow-summary">
						<table class="table table-out">
							<tbody>
								<tr>
									<td
										style="margin: 0; padding: 0; text-align: center; vertical-align: top; border: none;">
										<table class="table table-bordered">
											<thead th:if="${monthlySumHousehold != null}">
												<tr>
													<th style="width: 300px; height: 10px; text-align: center;">項目</th>
													<th style="width: 120px; height: 10px; text-align: cneter;">金額</th>
													<th style="width: 80px; height: 10px; text-align: center">割合</th>
												</tr>
											</thead>
											<thead th:if="${monthlySumHousehold == null}">
												<tr>
													<th style="height: 10px; text-align: center;">家計簿が見つかりませんでした</th>
												</tr>
											</thead>
											<tbody class="outgo">
												<!-- 食費項目 -->
												<tr class="outgo-sum" th:if="${sumFoodList != null}"
													th:each="list: ${sumFoodList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${foodList != null}"
													th:each="item: ${foodList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 日用品項目 -->
												<tr class="outgo-sum" th:if="${sumComoddityList != null}"
													th:each="list: ${sumComoddityList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${comoddityList != null}"
													th:each="item: ${comoddityList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 趣味・娯楽項目 -->
												<tr class="outgo-sum" th:if="${sumHobbyList != null}"
													th:each="list: ${sumHobbyList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${hobbyList != null}"
													th:each="item: ${hobbyList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 交際費項目 -->
												<tr class="outgo-sum" th:if="${sumSocialExList != null}"
													th:each="list: ${sumSocialExList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${socialExList != null}"
													th:each="item: ${socialExList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 交通費項目 -->
												<tr class="outgo-sum" th:if="${sumTransportList != null}"
													th:each="list: ${sumTransportList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${transportList != null}"
													th:each="item: ${transportList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 衣服・美容項目 -->
												<tr class="outgo-sum" th:if="${sumFasshonList != null}"
													th:each="list: ${sumFasshonList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${fasshonList != null}"
													th:each="item: ${fasshonList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 自動車項目 -->
												<tr class="outgo-sum" th:if="${sumCarList != null}"
													th:each="list: ${sumCarList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${carList != null}"
													th:each="item: ${carList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 健康・医療項目 -->
												<tr class="outgo-sum" th:if="${sumHealthList != null}"
													th:each="list: ${sumHealthList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${healthList != null}"
													th:each="item: ${healthList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 教養・教育項目 -->
												<tr class="outgo-sum" th:if="${sumLiberalList != null}"
													th:each="list: ${sumLiberalList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${liberalList != null}"
													th:each="item: ${liberalList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 特別な支出項目 -->
												<tr class="outgo-sum" th:if="${sumSpecialExList != null}"
													th:each="list: ${sumSpecialExList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${specialExList != null}"
													th:each="item: ${specialExList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 水道・光熱費項目 -->
												<tr class="outgo-sum" th:if="${sumUnilList != null}"
													th:each="list: ${sumUnilList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${unilList != null}"
													th:each="item: ${unilList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 通信費項目 -->
												<tr class="outgo-sum" th:if="${sumCommunicationList != null}"
													th:each="list: ${sumCommunicationList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${communicationList != null}"
													th:each="item: ${communicationList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 住宅項目 -->
												<tr class="outgo-sum" th:if="${sumHouseList != null}"
													th:each="list: ${sumHouseList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${houseList != null}"
													th:each="item: ${houseList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- その他項目 -->
												<tr class="outgo-sum" th:if="${sumOtherList != null}"
													th:each="list: ${sumOtherList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${otherList != null}"
													th:each="item: ${otherList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<!-- 未分類項目 -->
												<tr class="outgo-sum" th:if="${sumUnsortList != null}"
													th:each="list: ${sumUnsortList}">
													<td class="outgo-name"
														th:text="${list.category.categoryCode} + ' 合計'"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(list.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${list.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
												<tr class="outgo" th:if="${unsortList != null}"
													th:each="item: ${unsortList}">
													<td class="outgo-name"
														th:text="${item.category.subCategoryName}"></td>
													<td class="outgo-number"
														th:text="${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></td>
													<td class="outgo-number-decimal" th:data-decimal="${item.payment} / ${categoryPayTotal} * 100"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="detail-pie-chart"
							style="width: 450px; height: 500px; vertical-align: middle; display: table-cell;">
							<canvas id="detailPie"></canvas>
							<div style="text-align: right; margin: 15px 25px 15px 0;">
								<a class="pull-right more-link" th:href="@{/household/detail}">
									<i class="fas fa-arrow-circle-right"></i>支出詳細へ
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div th:replace="~{layout/householdFooter::householdFooter}"></div>
	</div>
	<script th:inline="javascript">
		const startDate = /*[[${startDate}]]*/"startDate";
		drawDetailDate();
		inputDate();
		tabMenu();
		subMenu();
		subMenuSec();
		getAnchorValue();
		getDetailAnchorValueSec();
		decimalFormat();
	</script>
	<script th:src="@{/js/household/inputCalendar.js}"></script>
	<script th:src="@{/js/household/inputCalendarSec.js}"></script>
</body>
</html>