<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>HouseHold</title>
<!-- bootstarpのcss読み込み -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<!-- css読み込み -->
<link rel="stylesheet" th:href="@{/css/household/household.css}" />
<!-- bootstrapのjs読み込み -->
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<!-- fontawesome読み込み -->
<script th:src="@{https://kit.fontawesome.com/7109a52a62.js}"></script>
<!-- Chart.js読み込み -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<!-- Chart.jsのdatalabelsの読み込み -->
<script
	src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<!-- jsの読み込み -->
<script th:src="@{/js/household/index.js}"></script>
<script th:src="@{/js/household/asyncEasyForm.js}"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<!-- メインヘッダー呼び出し -->
			<div th:replace="~{layout/householdHeader::householdHeader}"></div>
			<!-- ヘッダーメニューバー -->
			<div class="global-menu">
				<ul class="nav-horizontal">
					<li class="global-menu-item"><a class="active"
						th:href="@{/household/index}"> <i
							class="active-icon fas fa-home"></i>ホーム
					</a></li>
					<li class="global-menu-item"><a class="unactive"
						th:href="@{/household/detail}"> <i
							class="unactive-icon fas fa-chart-pie"></i>家計
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-chart-bar"></i>予算
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-coins"></i>資産
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-cog"></i>設定
					</a></li>
					<li class="global-menu-item"><a class="unactive" href="#">
							<i class="unactive-icon fas fa-ellipsis-h"></i>
					</a></li>
				</ul>
			</div>
		</header>
		<div class="container-large">
			<div class="home">
				<!-- 円グラフとカンタン入力セクション -->
				<div class="home-col-assets">
					<section class="user-info">
						<!-- 当月の収支合計セクション -->
						<section class="total-assets">
							<h1 class="heading-normal"
								th:text="${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'), 'yyyy年MM月')} + 'の状況'"></h1>
							<div th:if="${monthlySum != null}" class="money-label">
								<span class="money-label">収入</span> - <span class="money-label">支出</span>
								= 合計 : <span th:if="${monthlySum >= 0}" class="money-label"
									th:text="${monthlyFormatSum} +' 円'"></span> <span
									th:if="${monthlySum < 0}" class="money-label-minus"
									th:text="${monthlyFormatSum} +' 円'"></span>
							</div>
							<div th:if="${monthlySum == null}" class="money-label">
								<span class="money-label">今月の収支記録が見つかりませんでした</span>
							</div>
							<!-- 当月の収支合計円グラフ -->
							<div th:if="${deposit != null && payment != null}"
								class="pie-size">
								<canvas id="assetPie"> </canvas>
							</div>
							<div th:if="${deposit == null && payment == null}"
								class="pie-size-default">
								<canvas id="assetPieDefault"> </canvas>
							</div>
						</section>
					</section>
					<div class="home-manual-info">
						<!-- カンタン入力セクション -->
						<section class="manual-entry">
							<h2 class="heading-normal">カンタン入力</h2>
							<div class="manual-payment-entry">
								<form th:action="@{/household/payment}" th:object="${form}"
									method="post" id="easyHouseholdForm">
									<!-- カテゴリーのドロップダウンメニュー -->
									<div class="category-contents">
										<div th:replace="~{layout/categoryList::categoryList}"></div>
										<div class="btn-group btn_m_ctg">
											<a class="btn btn-secondary dropdown-toggle v_m_ctg"
												data-toggle="dropdown" id="js-middle-category-selected">
												未分類 </a>
										</div>
									</div>
									<div class="right-column">
										<input type="hidden" class="category-input"
											th:field="*{categoryId}" th:errorclass="is-invalid" />
										<input type="text" class="payment-amount"
											placeholder="金額を入力してください" th:field="*{payment}" />
										<span class="payment-unit">円</span>
									</div>
									<div id="paymentInvalid" style="color: red"></div>
									<input type="hidden" id="cal-date-input"
										th:field="*{activeDate}" />
									<div class="input-date">
										<span class="text-and-icon" id="cal-text"
											data-date-format="yyyy/mm/dd"> 日付 <span
											id="date-span"></span><i
											class="icon-calendar fas fa-calendar-alt"></i> <!-- カレンダー描画部 -->
											<div id="calendar" class="draw-cal dropdown-menu"></div>
										</span>
										<div style="margin-bottom: 10px"></div>
									</div>
									<div class="left-column">
										<input type="text" class="align-left"
											placeholder="内容を入力してください(任意)" th:field="*{note}" />
									</div>
									<div class="submit-box">
										<input type="submit" id="submitBtn" name="commit" value="保存する" />
									</div>
								</form>
							</div>
						</section>
					</div>
				</div>
				<div class="custom-col-home">
					<div class="home-latest">
						<!-- 最近の履歴表示セクション -->
						<div class="cf-latest">
							<h2 class="heading-normal">最近の入出金</h2>
							<section class="recent-transactions">
								<div class="recent-transactions-table">
									<div th:if="${latestHouseholdList != null}"
										class="recent-transactions-row"
										th:each="item: ${latestHouseholdList}">
										<div class="recent-transactions-row-left">
											<div class="recent-transactions-date"
												th:text="${#dates.format(item.activeDate, 'yyyy/MM/dd')}"></div>
											<div class="recent-transactions-category"
												th:text="${item.category.categoryCode} + '＞' + ${item.category.subCategoryName}">
												未分類＞未分類</div>
											<div class="recent-transactions-content"
												th:text="${item.note}"></div>
											<div th:if="${item.note == null || item.note == ''}"
												class="recent-trancastions-content">
												備考はありません</div>
										</div>
										<div th:if="${item.payment != null && item.payment > 0}"
											class="recent-transactions-amount"
											th:text="'-' + ${#numbers.formatInteger(item.payment, 3, 'COMMA')} + '円'"></div>
										<div th:if="${item.deposit != null && item.deposit > 0}"
											class="recent-transactions-amount"
											th:text="${#numbers.formatInteger(item.deposit, 3, 'COMMA')} + '円'"></div>
									</div>
									<div th:if="${latestHouseholdList == null}"
										class="recent-transactions-row">
										<h2 class="money-label">最近の入出金はありません</h2>
									</div>
								</div>
							</section>
							<div th:text="${latestFormatDeposit}"></div>
							<a class="pull-right more-link" th:href="@{/household/detail}">
								<i class="fas fa-arrow-circle-right"></i>履歴の詳細を見る
							</a>
						</div>
					</div>
					<div class="headline">
						<!-- 当月の収支合計表セクション -->
						<div class="headline-contents">
							<h2 class="heading-normal" th:inline="text">
								[[${#calendars.format(#calendars.createNowForTimeZone('Asia/Tokyo'),
								'M月')} + 'の収支']] <span
									th:text="'(' + ${startDate} + '-' + ${endDate} + ')'"></span>
							</h2>
							<table cellpadding="10px" data-placement="right"
								class="monthly-total-table"
								th:if="${deposit != null && payment != null && monthlyFormatSum != null}">
								<tbody>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月収入</th>
										<td th:text="${deposit} + '円'"></td>
									</tr>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月支出</th>
										<td th:text="${payment} + '円'"></td>
									</tr>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月収支</th>
										<td th:if="${monthlySum >= 0}"
											th:text="${monthlyFormatSum} + '円'"></td>
										<td th:if="${monthlySum < 0}" class="minus-color"
											th:text="${monthlyFormatSum} + '円'"></td>
									</tr>
								</tbody>
							</table>
							<table cellpadding="10px" data-placement="right"
								class="monthly-total-table"
								th:if="${deposit == null && paymant == null && monthlyFormatSum == null}">
								<tbody>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月収入</th>
										<td>¥0円</td>
									</tr>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月支出</th>
										<td>¥0円</td>
									</tr>
									<tr class="monthly-total">
										<th class="monthly-total-head">当月収支</th>
										<td class="minus">¥0円</td>
									</tr>
								</tbody>
							</table>
							<a class="pull-right more-link" th:href="@{/household/detail}">
								<i class="fas fa-arrow-circle-right"></i>詳細(家計簿)を見る
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- メインフッターの呼び出し -->
		<footer th:replace="~{layout/householdFooter::householdFooter}"></footer>
	</div>
	<script th:if="${deposit != null && payment != null}"
		th:inline="javascript">
		const cDeposit = /*[[${depositJs}]]*/"depositJs";
		const cPayment = /*[[${paymentJs}]]*/"paymentJs";
		pieChart();
		subMenu();
		getAnchorValue();
	</script>
	<script th:if="${deposit == null && payment == null}"
		th:inline="javascript">
		pieChartDefault();
		subMenu();
		getAnchorValue();
	</script>
	<script th:src="@{/js/household/calendar.js}"></script>
</body>
</html>
